relaxng-dump/tests/reconnect.rng

<?xml version="1.0"?>
<grammar xmlns="http://relaxng.org/ns/structure/1.0" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes">

  <start>
    <ref name="root"/>
  </start>

  <define name="root">
    <element name="start">
      <ref name="reconnect"/>
    </element>
  </define>

  <define name="reconnect">
      <element name="reconnect">
      <choice>
        <group>
          <attribute name="enabled">
            <text/>
          </attribute>
          <optional>
            <attribute name="timeout">
              <text/>
            </attribute>
          </optional>
        </group>
        <attribute name="delay">
          <text/>
        </attribute>
      </choice>
    </element>
  </define>

</grammar>
