relaxng-gen/tests/fixtures/dom-cpu.rng

<?xml version="1.0"?>
<!-- A Relax NG schema for the libvirt domain capabilities XML format -->
<grammar xmlns="http://relaxng.org/ns/structure/1.0" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes">
  <start>
    <ref name="cpu"/>
  </start>
  <define name="cpu">
    <element name="cpu">
      <ref name="cpuHost"/>
      <ref name="cpuMax"/>
      <ref name="cpuHostModel"/>
      <ref name="cpuCustom"/>
    </element>
  </define>
  <define name="cpuHost">
    <element name="mode">
      <attribute name="name">
        <value>host-passthrough</value>
      </attribute>
      <ref name="supported"/>
      <optional>
        <ref name="enum"/>
      </optional>
    </element>
  </define>
  <define name="cpuMax">
    <element name="mode">
      <attribute name="name">
        <value>maximum</value>
      </attribute>
      <ref name="supported"/>
      <optional>
        <ref name="enum"/>
      </optional>
    </element>
  </define>
  <define name="cpuHostModel">
    <element name="mode">
      <attribute name="name">
        <value>host-model</value>
      </attribute>
      <ref name="supported"/>
      <!--
      <optional>
        <ref name="cpuModel"/>
        <optional>
          <ref name="cpuVendor"/>
        </optional>
        <optional>
          <ref name="cpuMaxPhysAddr"/>
        </optional>
        <zeroOrMore>
          <ref name="cpuFeature"/>
        </zeroOrMore>
      </optional>
      -->
    </element>
  </define>
  <define name="cpuCustom">
    <element name="mode">
      <attribute name="name">
        <value>custom</value>
      </attribute>
      <ref name="supported"/>
      <!--
      <zeroOrMore>
        <element name="model">
          <attribute name="usable">
            <choice>
              <value>yes</value>
              <value>no</value>
              <value>unknown</value>
            </choice>
          </attribute>
          <optional>
            <attribute name="deprecated">
              <ref name="virYesNo"/>
            </attribute>
          </optional>
          <optional>
            <attribute name="canonical">
              <text/>
            </attribute>
          </optional>
          <attribute name="vendor">
            <text/>
          </attribute>
          <text/>
        </element>
        <optional>
          <element name="blockers">
            <attribute name="model">
              <text/>
            </attribute>
            <oneOrMore>
              <element name="feature">
                <attribute name="name">
                  <text/>
                </attribute>
              </element>
            </oneOrMore>
          </element>
        </optional>
      </zeroOrMore>
      -->
    </element>
  </define>
  <define name="value">
    <zeroOrMore>
      <element name="value">
        <text/>
      </element>
    </zeroOrMore>
  </define>
  <define name="supported">
    <attribute name="supported">
      <ref name="virYesNo"/>
    </attribute>
  </define>
  <define name="enum">
    <zeroOrMore>
      <element name="enum">
        <attribute name="name">
          <text/>
        </attribute>
        <ref name="value"/>
      </element>
    </zeroOrMore>
  </define>
  <define name="virYesNo">
    <choice>
      <value>yes</value>
      <value>no</value>
    </choice>
  </define>
</grammar>
