relaxng-gen/tests/fixtures/input-bus.rng

<?xml version="1.0"?>
<element xmlns="http://relaxng.org/ns/structure/1.0" name="input">
      <interleave>
        <choice>
          <group>
            <attribute name="type">
              <choice>
                <value>tablet</value>
                <value>mouse</value>
                <value>keyboard</value>
              </choice>
            </attribute>
            <optional>
              <attribute name="bus">
                <choice>
                  <value>ps2</value>
                  <value>usb</value>
                  <value>xen</value>
                  <value>virtio</value>
                </choice>
              </attribute>
            </optional>
          </group>
          <group>
            <attribute name="type">
              <value>passthrough</value>
            </attribute>
            <attribute name="bus">
              <value>virtio</value>
            </attribute>
	  </group>
        </choice>
      </interleave>
</element>

